.header{
    height: 500px;
    color: white;
    background-image: url('images/donation13.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.header .header-container{
    padding-top: 30px;
}
.header-container .header-center{
    text-align: center;
}
.header-container h1{
    font-weight: bold;
    font-size: 40px;
}
.button-donate-now{
    border: 0px;
    padding-top: 15px;
    padding: 10px 25px;
    background-color: #FF5959;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.donate-today input{
    border: 0px;
}
.take-underline{
    border: 1px dotted rgb(171, 169, 169);
}
.donate-today{
    /* display: flex; */
    /* display: flex; */
    /* justify-content: center;
    align-self: center;
    background: silver;
    width: 50%;
    height: 20%; */
}
.donate-today .donate-today-container{
    /* display: flex; */
    /* justify-content: center;
    align-self: center; */
    font-weight: bold;
    margin-left: 17rem;
    padding: 50px 20px;
    width: 50%;
    text-align: center;
    height: 20%; 
}
.taka-block-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
.taka-block-container p{
    background-color: rgb(233, 231, 231);
    padding: 25px 5px;
    border-radius: 5px;
}

.our-donate-plan-container-section{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.our-donate-plan-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.our-donate-plan-container .our-donate-plan{
    background-color: rgb(207, 226, 242);
    padding: 25px 5px;
    border-radius: 5px;
}
.our-donate-plan-container .our-donate-plan-two{
    background-color: rgb(240, 180, 221);
}
.our-donate-plan-container .our-donate-plan-three{
    background-color: rgb(222, 227, 189);
}

.Contribute-container{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}
.Contribute-container .contribute-section{
    
    width: 40%;
}
.Contribute-container img{
    width: 100%;
    margin-top: 50px;
}
.contribute-text h1{
    font-size: 30px;
    font-weight: bold;
}